.main{
    display: flex;
    flex-flow: row wrap;
}
.header{
    width: 100%;
    background-color: grey;
    height: 80px;
}
.a {
    background-color: red;
    width: 100%;
    height: 26vh;
    margin-top: 1rem;
}

.b {
    background-color: orange;
    width: 100%;
    height: 26vh;
}

.c {
    background-color: yellow;
    width: 100%;
    height: 26vh;
}

.footer{
    width: 100%;
    background-color: grey;
    height: 80px;
    margin-top: 1rem;
}

@media screen and (min-width: 768px){
    .main{
        display: flex;
    }
    .a{
        width: 80%;
        height: 39vh;
    }
    .b{
        width: 80%;
        height: 39vh;
    }
    .c{
        width: 20%;
        height: 78vh;
        margin-top: -39vh;
    }
}


@media screen and (min-width: 576px) and (max-width: 768px){
    .main{
        display: flex;
        flex-direction: column;
    }
    .a{
        width: 50%;
        height: 39vh;
        margin-top: 1rem;
    }
    .b{
        width: 50%;
        height: 39vh;
    }
    .c{
        width: 50%;
        height: 78vh;
        align-self: flex-end;
        margin-top: -78vh;
    }
    .footer{
        margin-top: 1rem;
    }
}