.main{
    display: flex;
    flex-flow: row wrap;
}
.header{
    width: 100%;
    background-color: grey;
    height: 80px;
    margin-bottom: 1rem;
}
.a {
    background-color: rgb(48, 201, 10);
    width: 100%;
    height: 39vh;
}

.b {
    background-color: rgb(10, 129, 40);
    width: 100%;
    height: 18vh;
}

.c {
    background-color: yellow;
    width: 100%;
    height: 18vh;
}

.footer{
    width: 100%;
    background-color: grey;
    height: 80px;
    margin-top: 1rem;
}

@media screen and (min-width: 768px){
    .main{
        display: flex;
    }
    .a{
        width: 60%;
        height: 78vh;
        order: 2;
    }
    .b{
        width: 20%;
        height: 78vh;
        order: 1;
    }
    .c{
        width: 20%;
        height: 78vh;
        order: 3;
    }
    .footer{
        order: 4;
    }
}


@media screen and (min-width: 576px) and (max-width: 768px){
    .main{
        display: flex;
        flex-direction: column;
    }
    .a{
        width: 100%;
        height: 44vh;
    }
    .b{
        width: 50%;
        height: 24vh;
    }
    .c{
        width: 50%;
        height: 24vh;
        align-self: flex-end;
        margin-top: -24vh;
    }
    .footer{
        margin-top: 1rem;
    }
}